.b1 {
    color: white;
    background-color: green;
    border: none;
    padding-top: 8px;
    font-size: 18px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.b1:active {
    margin-top: 3px;
    margin-left: 3px;
    box-shadow: none;
}