.amazon-add_to_cart-button {
    color: black;
    background-color: rgb(255, 216, 20);
    border: none;
    height: 36px;
    width: 180px;
    border-radius: 18px;
    font-size: 15px;
    cursor: pointer;
}